<h2 class="align-center">My Wikis</h2>
<% if policy(Wiki.new).create? %>
<%= link_to "Create New Wiki", new_wiki_path(@wiki), class: 'btn btn-success' %>
<% end %>

<div class="col-md-8" align="center">
  <table class= "table table-striped">
    <% @wikis.each do |wiki| %>
    <tr>
      <td><%= link_to wiki.title, wiki %></td>
    </tr>
<% end %>
</table>
</div>
